* {
    font-family: Sans-serif;
    font-size: large;
}

body {
    background: linear-gradient(30deg, rgb(209, 140, 154), rgb(40, 163, 212));
    background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#page-container {
    position: relative;
    min-height: 100vh;
  }

.header {
    background-image: url("./assets/images/stargazers.jpg");
    background-size: cover;
}

h1 {
    font-size: 40pt;
    color: white;
    border-radius: 20px;
    text-shadow: 2px 2px 2px black;
}

.my-name {
    justify-content: left;
    list-style: none;
    margin-left: 1rem;
    padding-top: 35px;
}

.nav {
    justify-content: right;
    margin: auto;
} 

.nav-tabs .nav-link {
    border-left: 1pt solid white;
    /* border-right: 1pt solid white; */
    border-radius: 0%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgb(209, 140, 154);
    color: black;
    border: 1pt solid white;
}

.nav-tabs {
    border: none;
}

.nav-tabs:hover {
    border: none;
}

.nav-item.show {
    background-color: rgb(140, 156, 151);
    border: none;
}

.nav-link {
    color: white;
    border: none;
}

.nav-link:hover {
    background-color: rgb(140, 156, 151);
    border-left: 1pt solid white;
    /* border-right: 1pt solid white; */
    color: white;
}

.nav-link:active {
    color: black;
}

.info-container {
    background-color: rgba(19, 104, 156, 0.638);
    margin-left: 75px;
    margin-right: 75px;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.info-container a {
    color:rgb(221, 169, 25);
    transition: 0.1s;
}

.info-container a:hover {
    color:rgb(54, 229, 101);
    transition: 0.1s;
}

.portfolio-image {
    border: 4px solid var(--yellow);
    text-align: center;
    position: relative;
    margin: 20px;
    transition: all .1s ease-in-out;
    max-width: 323px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    text-align: center;
    margin-bottom: 80px;
}

.footer img {
    width: 100px;
    transition: 0.2s;
    padding: 10px;
    opacity: 0.5;
}

.footer img:hover {
    transition: 0.2s;
    opacity: 1;
}